{% load static %}
<!DOCTYPE html>

<html>
    <head>
        <title>Pip Prophet</title>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css" integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-fQybjgWLrvvRgtW6bFlB7jaZrFsaBXjsOMm/tB9LTS58ONXgqbR9W8oWht/amnpF" crossorigin="anonymous"></script>
        <link rel="icon" type="image/x-icon" href="{% static 'images/globe.png' %}"/>
        <link rel="icon" type="image/x-icon" href="{% static 'images/globe.png' %}"/>
        <link rel="stylesheet" href="{% static 'stylesheets/backtests.css' %}"/>
    </head>
    <body>
        {% csrf_token %}
        {% if user.is_authenticated %}

        <section id="title">

            <div class="container-fluid">
            <nav class="navbar navbar-dark navbar-expand-lg">
                <a class="navbar-brand" href="">Pip Prophet</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                  <span class="navbar-toggler-icon"></span>
                </button>

                
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                  <ul class="navbar-nav ml-auto">
                    <li class="nav-item"> 
                        <div class="dropdown">
                            <h4>Options</h4>
                            <div class="dropdown-options">
                              <a href="/dashboard">Dashboard</a>
                              <a href="/deploy">Deployed Algorithms</a>
                              <a href="/logut">Logout</a>
                            </div>
                          </div>
                     
                    </li> 
                   </ul>
                </div>
              </nav>
            </div>
        </section>


            
        {%endif%}
        <!-- <header class="navbar">
            <h1>Backtesting Strategies</h1>
            <div>
                <div class="dropdown">
                    <button id="dropbtn">Options
                        <i class="fa fa-caret-down"></i>
                    </button>
                    <div class="dropdown-content">
                            <a href="/dashboard">Dashboard</a>
                            <a href="/backtests">Backtests</a>
                            <a href="/">Deployed Algorithms</a>
                            <a href="/logout">Logout</a>
                    </div>
                </div>
            </div>
        </header> -->
        {% csrf_token %}
        {% if user.is_authenticated %}
        <div class="container">
            {% block content %}
            <form id="strategy-select" method="post">
                {% csrf_token %}
                <label for="strategy"><h2>Select a Strategy</h2></label>
                {{ bt_strategy_form.as_p }}
                <input type="submit" value="Edit Strategy Parameters" name="EditStrategyParameters">
            </form>
            {% endblock %}
        </div>
        {% endif %}
        <script src="{% static 'scripts/backtests.js' %}"></script>
    </body>
</html>