{% load static %}
<!DOCTYPE html>

<html>
    <head>
        <title>Pip Prophet</title>
        <link rel="icon" type="image/x-icon" href="{% static 'images/globe.png' %}"/>
        <link rel="stylesheet" href="{% static 'stylesheets/dashboard.css' %}"/>
        <script src="{% static 'scripts/dashboard.js' %}"></script>
    </head>
    <body>
        <div>
            {% for message in messages %}
            <div class = "alert alert-{{ message.tags }} alert-dismissible fade show" role = "alert">
                <strong>
                    Message:
                </strong>
                {{ message }}
                <button type="button" class="close" data-dismiss="alert" aria-label="Close"></button>
                <span aria-hidden="true">&times;</span>
            </div>
            {% endfor %}
        </div>
        <div>
            <img src="{% static 'images/Logo.png' %}"/>
        </div>
        <div>
            <div>
                {% csrf_token %}
                {% if user.is_authenticated %}
                <div class="container">
                    <button id="toggleButton">Options</button>
                    <div id="options" class="hidden">
                        <ul>
                            <li><a href="/backtests">Backtests</a></li>
                            <li><a href="/deploy">Deploy</a></li>
                            <li><a href="/logout">Logout</a></li>
                        </ul>
                    </div>
                </div>

                {% endif %}
            </div>
        </div>
    </body>
</html>