{% load static %}
<!DOCTYPE html>

<html>
    <head>
        <title>Pip Prophet</title>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css" integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-fQybjgWLrvvRgtW6bFlB7jaZrFsaBXjsOMm/tB9LTS58ONXgqbR9W8oWht/amnpF" crossorigin="anonymous"></script>
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;500;900&family=Ubuntu:wght@300;400;700&display=swap" rel="stylesheet">
        <script src="https://kit.fontawesome.com/3bfd13a79b.js" crossorigin="anonymous"></script>
        <link rel="icon" type="image/x-icon" href="{% static 'images/globe.png' %}"/>
        <link rel="stylesheet" href="{% static 'stylesheets/dashboard.css' %}"/>
        <script src="{% static 'scripts/dashboard.js' %}"></script>
        
    </head>
    <body>
        <div>
            {% for message in messages %}
            <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
                <strong>Message:</strong> {{ message }}
                <button type="button" class="close" data-dismiss="alert" aria-label="Close"></button>
                <span aria-hidden="true">&times;</span>
            </div>
            {% endfor %}
        </div>
            {% csrf_token %}
            {% if user.is_authenticated %}
                <!-- <h1>Backtesting</h1> -->
            <section id="title">

                <div class="container-fluid">
                <nav class="navbar navbar-dark navbar-expand-lg">
                    <a class="navbar-brand" href="">Pip Prophet</a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                      <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                      <ul class="navbar-nav ml-auto">
                        <li class="nav-item">
                          <a class="nav-link" href="#footer">About us</a>
                        </li>
                        <li class="nav-item">
                          <a class="nav-link" href="#pricing">Get Started</a>
                        </li>
                        <!-- <li class="nav-item">
                          <a class="nav-link" href="#cta">Sign In</a>
                        </li> -->
                      </ul>
                    </div>
                  </nav>
                </div>
            </section>

                  
                <div class="cards-list">
  
                    <div class="card 1">
                      <div class="card_image"> <img src="{% static 'images/backtest1.jpg' %}"/></div>
                      <div class="card_title title-white">
                        <p><a style="text-decoration: none;" href="/backtests">Backtests</a></p>
                      </div>
                    </div>
                    
                      <div class="card 2">
                      <div class="card_image"> <img src="{% static 'images/deploy1.jpg' %}"/></div>
                      <div class="card_title title-white">
                        <p><a style="text-decoration: none;" href="/deploy">Deploy</a></p>
                      </div>
                    </div>
                    
                    
                    </div>
            

            {% endif %}
        
    </body>
</html>