{% load static %}
<!DOCTYPE html>

<html>
    <head>
        <title>Pip Prophet</title>
        <link rel="icon" type="image/x-icon" href="{% static 'images/globe.png' %}"/>
        <link rel="stylesheet" href="{% static 'stylesheets/edit_strategy.css' %}"/>
        <script>
            window.onload = function() {
                const toggleButton = document.getElementById("toggleButton");
                const options = document.getElementById("options");

                toggleButton.addEventListener("mouseover", function() {
                    options.style.display = "block";
                });

                options.addEventListener("mouseleave", function() {
                    options.style.display = "none";
                });
            };
        </script>
    </head>
    <body>
        {% csrf_token %}
        {% if user.is_authenticated %}
        <div class="navbar">
            <div class="container">
                <h1>Edit Strategy</h1>
                <button id="toggleButton">Options</button>
                <div id="options" class="hidden">
                    <ul>
                        <li><a href="/dashboard">Dashboard</a></li>
                        <li><a href="/backtests">Backtests</a></li>
                        <li><a href="/deploy">Deploy</a></li>
                        <li><a href="/logout">Logout</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div>
            {% block content %}
            <form id="strategy-modify" method="post">
                {% csrf_token %}
                <label for="strategy">Modify your Strategy</label>
                {{ dp_params_form.as_p }}
                <input type="submit" value="Deploy" name = "Deploy">
            </form>
            <div>
                <ul>
                    {% for key, value in results.items %}
                    <li>{{key}}: {{value}}</li>
                    {% endfor %}
                </ul>
            </div>
            {% endblock %}
        </div>
        {% endif %}
    </body>
</html>