body{
    background-color: #37517e;
  
  }
  
  p{
    color: whitesmoke;
    font-family: Helvetica, sans-serif;
    vertical-align: middle;
  }
  
  h1{
    color: #37517e;
    font-size: 60px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
  }

  h2{
    font-family:  Helvetica, sans-serif;
    font-weight: bolder;
    padding-bottom: 25px;
    font-size: 40px;
    color: whitesmoke;
  }

  h4{
    color: whitesmoke;
  }

  
  .container{
    text-align: center;
  }
  
  .container-fluid{
  
    padding: 3% 15% 3%;
  }
  
  
  .navbar{
    padding: 0 0 0rem;
  }
  
  /* navigation-bar */
  .navbar-brand{
    font-family: "Ubuntu";
    font-size: 2.5rem;
    font-weight: bold;
  }
  .nav-item{
    padding: 0 18px;
  }
  .nav-link{
    font-size: 1.2rem;
    font-family: "Montserrat";
    font-weight: 300;
  }


/* dropdown */


  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-options {
    display: none;
    position: absolute;
    z-index: 1;
  }
  
  .dropdown:hover .dropdown-options {
    display: block;
  }
  
  .dropdown-options a {
    display: block;
    padding: 10px;
    text-decoration: none;
    color: #000;
    background-color: #fff;
  }
  
  .dropdown-options a:hover {
    background-color: #f2f2f2;
  }


/* error-list */

.errorlist{
    display: none;
}


form{
    /* margin-left: 590px; */
    text-align: center;
  }
  
  label{
      font-family:  Helvetica, sans-serif;
      font-weight: bold;
      display: inline-block;
      width: 250px;
      text-align: right;
  }
  
  
  input, select{
      background: none repeat scroll 0 0 #FFFFFF;
        border: 1px solid #E5E5E5;
        border-radius: 5px 5px 5px 5px;
        box-shadow: 0 0 10px #E8E8E8 inset;
        height: 40px;
        margin: 10px 0 0 10px;
        padding: 0px;
        width: 190px;
        font-family: Helvetica, sans-serif;
        text-align: center;
    }


    .optimize_result{
      text-align: center;
      color: whitesmoke;
      margin-top: 20px;
    }
    
    ul{
      list-style: none;
    }