body{
    font-family:"Montserrat";
  }
  
  h1,h2,h3,h4,h5,h6{
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
  
  }
  
  h2{
      font-size: 2.5rem;
      line-height: 1.5;
      color: #fff;
  }
  
  
  h3{
    font-weight: bold;
  }
  
  p{
    color: #8f8f8f;
  }
  
  .big-heading{
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
    font-size: 3.5rem;
    line-height: 1.5;
  }
  
  #title{
    background-color: #37517e;
    color: #fff;
  }
  
  .container-fluid{
  
    padding: 3% 15% 7%;
  }
  
  .navbar{
    padding: 0 0 4.5rem;
  }
  
  /* navigation-bar */
  .navbar-brand{
    font-family: "Ubuntu";
    font-size: 2.5rem;
    font-weight: bold;
  }
  .nav-item{
    padding: 0 18px;
  }
  .nav-link{
    font-size: 1.2rem;
    font-family: "Montserrat";
    font-weight: 300;
  }
  
  /* Download-buttons */
  .download-button{
    margin: 5% 3% 5% 0;
  }
  
  /* title-image */
  .title-image{
    width : 60%;
    transform: rotate(25deg);
    position: absolute;
    right: 30%;
  }
  
  
  .favicons{
    color: #ef8172;
    margin-bottom: 1rem;
  }
  .favicons:hover{
    color: #ff4c68;
  }
  #features{
    padding: 7% 15%;
    background-color: white;
    position: relative;
  }
  .feature-box{
    text-align: center;
    padding: 5%;
  }
  
  #testimonials{
    text-align: center;
    background-color:  #ef8172;
  }
  .testimonials-img{
    width: 12%;
    border-radius: 100%;
    margin: 20px;
  }
  .carousel-item{
      padding: 7% 15%;
  }
  
  #press{
    text-align: center;
    background-color: #ef8172;
  }
  
  .press-logo{
    width: 10%;
    margin: 20px 20px 50px;
  }
  
  #pricing{
    padding: 100px;
    text-align: center;
  }
  .pricing-column{
    padding: 3% 2%;
  }
  
  #cta{
    background-color: #ff4c68;
    color: #fff;
    padding: 7% 15%;
    text-align: center;
  }
  
  .cta-heading{
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
    font-size:3.5rem;
    line-height: 1.5;
  }
  
  #footer{
     padding: 7% 15%;
     text-align: center;
  }
  
  .social-icon{
    margin: 20px 10px;
  }
  
  @media (max-width: 1028px) {
  
    #title{
      text-align: center;
    }
    .title-image{
      position: static;
      transform: rotate(0);
    }
  }
  
